/* *{ */
    /* margin: 0; */
    /* padding: 0; */

body{
    position: relative;
}
/* li{
    list-style: square;
} */
.container{
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.box1{
    background-color: black;
    color: white;
     /* margin: 30px 50px;
    padding: 10px 50px;
    height: 90px;
    text-align: center; */
    height: 200px;
    width: 100px;
    /* display: inline-block; */
    text-decoration: underline dotted;
    text-transform: capitalize;
    /* line-height: 40px; */
    font-size: 20px;
    font-style: oblique;
    /* margin: auto; */
    border: 1px solid black;
margin: 20px;
}
.box2{
    background-color:red;
    color: white;
     /* margin: 30px 50px;
    padding: 10px 50px;
    height: 90px;
    text-align: center; */
    height: 200px;
    width: 100px;
    /* display: inline-block; */
    border: 1px solid black;
    margin: 20px;
}